name: Deploy the backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/backend:${{ github.sha }}
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}
      - name: Deploy to the VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ubuntu
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            # Exit immediately if a command exits with a non-zero status
            set -e

            # Free up space by removing unused images/containers AND volumes
            sudo docker system prune -a --volumes -f

            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/backend:${{ github.sha }}
            
            # Stop specific container if exists
            sudo docker stop backend || true
            sudo docker rm backend || true
            
            # Stop ANY container occupying port 3001 to prevent conflict
            sudo docker ps -q --filter "publish=3001" | xargs -r sudo docker stop
            sudo docker ps -aq --filter "publish=3001" | xargs -r sudo docker rm
            
            sudo docker run -d --name backend -p 3001:3001 \
                -e "DATABASE_URL=${{ secrets.DATABASE_URL }}" \
                ${{ secrets.DOCKER_USERNAME }}/backend:${{ github.sha }}